<appSettings>
  <add key="FacebookAppId" value="307105199977577"/>
  <add key="FacebookAppSecret" value="a77654a1dc156aa63997c3cdb969de82"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>